{% extends 'base.html' %}
{% load bootstrap5 %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% load static %}

{% block content %}  

<div class = "login">

    <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Formulir Registrasi</h5>
          <form method="POST" >  
              {% csrf_token %}  
              <table>  
                  {{ form.as_table }}  
              </table> 
              <input class="btn btn-primary form-control" type="submit" name="submit" value="Daftar"> 
          </form>
    
      {% if messages %}  
          <ul>   
              {% for message in messages %}  
                  <li>{{ message }}</li>  
                  {% endfor %}  
          </ul>   
      {% endif %}
        </div>
      </div>


</div>  

{% endblock content %}
