{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<p>{{name}}</p>

<p>Hai {{name}}, kamu memiliki {{jumlah}} tugas yang harus dikerjakan!</p>
<table>
    <tr>
        <th>Nama</th>
        <th>Subject</th>
        <th>Tanggal</th>
        <th>Progress</th>
        <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for assignment in list_of_assignments %}
    <tr>
        <td>{{assignment.name}}</td>
        <td>{{assignment.subject}}</td>
        <td>{{assignment.date}}</td>
        <td>{{assignment.progress}}</td>
        <td>{{assignment.description}}</td>
    </tr>
    {% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<br>
<a href="{% url 'study_tracker:create_assignment' %}">
    <button>
        Tugas Baru
    </button>
</a>
</br>
<a href="{% url 'study_tracker:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}
